@import '~bootstrap/scss/bootstrap';
@import './variables';

.right-bottom {
  border-bottom: $border-style;
  border-right: $border-style;
}

.bottom {
  border-bottom: $border-style;
}

.right {
  border-right: $border-style;
}

.row > div {
  height: 100px;
}

.authenticated {
  display: none;
}

h1 {
  font-variant: small-caps;
}

nav {
  background-color: $accent-color;
  margin-bottom: 20px;
}

modal {
  box-shadow: 10px 10px 5px grey;
}
