@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
  background-color: $light-accent-color;
}

p {
  color: $accent-color
}

.magic {
  font-weight: bold;
}

.switch {
  color: green;
}

.exploding {
  color: red;
}

.right-bottom {
  border-bottom: $border-style;
  border-right: $border-style;
}

.bottom {
  border-bottom: $border-style;
}

.right {
  border-right: $border-style;
}

.authenticated {
  display: none;
}

h5 {
  font-family: $main-font;
  font-variant: small-caps;
  font-weight: bold;
}

h1 {
  color: $font-color;
  font-family: $main-font;
  font-size: 50px;
  font-variant: small-caps;
  font-weight: bold;
}

h3 {
  color: $accent-color;
  font-family: $main-font;
  font-variant: small-caps;
  margin-left: 30px;
}

nav {
  background-color: $accent-color;
  box-shadow: $shadow;
  margin-bottom: 30px;
}

a {
  font-family: $main-font;
}

li > a {
  color: $font-color;

  &:hover {
    color: $light-accent-color;
  }
}

p {
  font-family: $main-font;
}

.row > div:not(.messaging) {
  height: 150px;
}

.row {
  justify-content: center;
}

.d-flex {
  z-index: 1;
}

.col-2 {
  color: $accent-color;
  font-family: $main-font;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}

.col-12 {
  padding: 5px;
}

.messaging {
  height: 10px;
  text-align: center;
}

.intro-font {
  color: $accent-color;
  font-variant: small-caps;
  font-weight: bold;
}

.restart {
  z-index: 2;
}

a:not([href]) {
  color: $faux-link-color;
  cursor: pointer;

  &:hover {
    color: $faux-link-color;
    cursor: pointer;
    text-decoration: underline;
  }
}

.card {
  box-shadow: $shadow;
  margin-left: 40px;
}

.btn {
  font-family: $main-font;
}

.btn-primary {
  margin: 30px;
}

.btn-button {
  margin: 25px;
}

.close-modal {
  float: right;
}

input {
  font-family: $main-font;
}

.card-text {
  color: black;
}
