$border-style: 5px solid #000;
$accent-color: #292d58;
$shadow: 0 5px 5px -2px rgba(0, 0, 0, .2);
$font-color: #fff;
$main-font: 'Cabin', sans-serif;
$card-text-font-color: #008;
$light-accent-color: #dcddee;
$faux-link-color: #7f85ee;
