$border-style: 10px solid #000;
$accent-color: #292d58;
$shadow: 0 10px 10px -2px rgba(0, 0, 0, .2);
$header-shadow: 0 5px 5px 1px rgba(0, 0, 0, .4);
$font-color: #fff;
$main-font: 'Cabin', sans-serif;
$card-text-font-color: #000;
$light-accent-color: #dcddee;
$faux-link-color: #7f85ee;
$heading-font: 'Orbitron', sans-serif;
$switch-color: #008;
$exploding-color: #ff0000;
