$border-style: 10px solid #000;
$accent-color: #292D58;
$shadow: 0 5px 5px -2px rgba(0, 0, 0, .2);
$font-color: white;
$main-font: 'Cabin', sans-serif;
$card-text-font-color: green;
$light-accent-color: #DCDDEE;
